github "PureSwift/GATT" "master"
github "PureSwift/TLVCoding" "master"
github "krzyzanowskim/CryptoSwift" "master"
github "yannickl/QRCodeReader.swift"
github "JonasGessner/JGProgressHUD"
github "kishikawakatsumi/KeychainAccess"
github "mac-cain13/R.swift.Library"
